*{
    box-sizing: border-box;
    outline: 1px solid black;
}

html{
    font-size: 62.5%;
    background: rgba(128, 128, 128, 0.582);
    color: black;
}

.hidden{
    display: none;
}

.leagueTable > section{
    height: 40px;
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;

}

.teamInfo{
    font-size: 1.8rem;
    font-size-adjust: calc();
}

.header > section,
.teamInfo > section{
    height: 40px;
    width: 19%;
    margin: 0 auto;
    padding: 0;
    align-content: center;
    text-align: center;
}

.leagueTable .dispRank,
.leagueTable .dispPoints,
.leagueTable .dispWin,
.leagueTable .dispDraw,
.leagueTable .dispLose,
.leagueTable .dispGoalDiff,
.leagueTable .dispGoalFor,
.leagueTable .dispGoalsAgainst,
.leagueTable .dispGamesPlayed,
.leagueTable .rank,
.leagueTable .point,
.leagueTable .win,
.leagueTable .draw,
.leagueTable .lose,
.leagueTable .goalDiff,
.leagueTable .goalsFor,
.leagueTable .goalsAgainst,
.leagueTable .gamesPlayed{
    width: 9%;
}

.resultsTable > section{
    height: 100px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
}

.homeTeam,
.awayTeam{
    font-size: 1.8rem;
}

.homeScore,
.awayScore{
    font-size: 4rem;
}

.date{
    font-size: 2rem;
    border-bottom: 4px solid black;
}

.resultsTable > section > section{
    height: 80%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game > .home,
.game > .away{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.home > .homeTeam,
.away > .awayTeam{
    height: 30%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    align-content: center;
    text-align: center;
}

.home > .homeScore,
.away > .awayScore{
    height: 70%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    align-content: center;
    text-align: center;
}

.game > .date{
    width: 100%;
    height: 20%;
    justify-content: center;
    align-content: center;
    text-align: center;
}